@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

body{
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piano-container{
    display: flex;
    justify-content: center;
    user-select: none;
    width: 98%;
    max-width: 600px;
}

.piano-keys{
    width: 50px;
    height: 280px;
    background-color: #d1cfcf;
    border: 1px solid black;
    margin: 0 1px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.piano-keys:focus{
    background-color: #686868 !important;
    outline: none !important;
}

.piano-key-title{
    font-family: 'Yellowtail', cursive;
    font-size: 24px;
    font-weight: 600;
}

.dark-variant{
    background-color: red;
}